<section class="about-section active ">
    <div class="about">
        <div class="about-img-container">
            <img src="assets\wallhaven-8orrm2_3840x2160.png" class="about-img" alt="">
            <button class="download-cv-btn">downlaod cv</button>
        </div>
        <p class="about-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio in commodi hic repudiandae molestias quos et pariatur aliquam soluta, placeat, facilis dolorem mollitia harum repellendus aperiam. Laborum, obcaecati quod officia possimus architecto qui ipsa modi perspiciatis at ullam veritatis est officiis culpa error autem pariatur aspernatur nobis, rem sunt et nam. Ipsa, dolorem, mollitia error deleniti temporibus sint aliquid tempora enim alias eligendi quos ex ab doloremque eaque explicabo nobis sed eveniet, animi commodi nam quas accusamus excepturi inventore quia? Similique, blanditiis earum velit eius minus harum deserunt esse nam itaque, laudantium sit alias. Ullam ut asperiores delectus quasi suscipit corrupti quaerat excepturi officia? Magni molestiae, cumque id ab architecto iste. Aspernatur ducimus dicta voluptates sit dolorum. Totam magni mollitia et repellendus atque. Doloribus dicta autem fugit sapiente, laudantium aspernatur.
        </p>
    </div>
</section>