<section class="project-section active">
    <h1 class="project-heading">some of my projects</h1>
    <div class="project-container">
        <div class="project-card">
            <div class="project-img parallax-one" style="background-image:url(https://i.pinimg.com/originals/07/39/f2/0739f24a4d22a6c6379048e1969b859d.png);"></div>
            <!-- <img src="assets\wallhaven-8orvko_3840x2160.png" class="project-img" alt=""> -->
            <div class="project-content">
                <h1 class="project-title">project 01</h1>
                <p class="project-info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae delectus cumque repudiandae aliquam optio accusamus natus nobis! Nam, sunt?
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github">github repo</button>
                    <button class="project-btn live">see live</button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-img parallax-one" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgXHFnDHw6jJLzFcqSIZQdWFjWw7A62LazBNyCedvuXWECo7SYKMcTysEYJAixczYz7LM&usqp=CAU);"></div>
            <!-- <img src="assets\wallhaven-6od3px_3840x2160.png" class="project-img" alt=""> -->
            <div class="project-content">
                <h1 class="project-title">project 02</h1>
                <p class="project-info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae delectus cumque repudiandae aliquam optio accusamus natus nobis! Nam, sunt?
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github">github repo</button>
                    <button class="project-btn live">see live</button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-img parallax-one" style="background-image:url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);"></div>
            <!-- <img src="assets\wallhaven-8odgry_1920x1080.png" class="project-img" alt=""> -->
            <div class="project-content">
                <h1 class="project-title">project 03</h1>
                <p class="project-info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae delectus cumque repudiandae aliquam optio accusamus natus nobis! Nam, sunt?
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github">github repo</button>
                    <button class="project-btn live">see live</button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-img parallax-one" style="background-image:url(https://img.freepik.com/free-photo/illustration-geometric-shapes-with-neon-laser-lights-great-backgrounds-wallpapers_181624-32746.jpg?w=2000) ;"></div>
            <!-- <img src="assets\wallhaven-8orrm2_3840x2160.png" class="project-img" alt=""> -->
            <div class="project-content">
                <h1 class="project-title">project 04</h1>
                <p class="project-info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae delectus cumque repudiandae aliquam optio accusamus natus nobis! Nam, sunt?
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github">github repo</button>
                    <button class="project-btn live">see live</button>
                </div>
            </div>
        </div>
    </div>
</section>
