<div class="cont">
  <section class="child">
    <app-header ></app-header>
  </section>
  <section class="child">
    <app-home id="1"></app-home>
  </section>
  <section class="child">
    <app-projects id="2"></app-projects>
  </section>
  <section class="child">
    <app-about id="3"></app-about>
  </section>
  <section class="child">
    <app-skills id="4"></app-skills>
  </section>
  <section class="child">
    <app-timeline id="5"></app-timeline>
  </section>
  <section class="child">
    <app-contact id="6"></app-contact>
</section>
</div>
<router-outlet></router-outlet>
  
